@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 640px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1320px;
  }
}

pre {
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.content h1 {
  @apply text-4xl;
}

.content h2 {
  @apply text-3xl;
}

.content h3 {
  @apply text-2xl;
}

.content a {
  @apply link-primary;
  @apply link-hover;
}

.content a:hover {
  @apply link-accent;
}

.content h1 a .icon.icon-link::before,
.content h2 a .icon.icon-link::before,
.content h3 a .icon.icon-link::before {
  content: '#';
  position: absolute;
}

.content h1 a .icon.icon-link,
.content h2 a .icon.icon-link,
.content h3 a .icon.icon-link {
  opacity: 0;
  @apply ml-1;
}

.content h1:hover a .icon.icon-link,
.content h2:hover a .icon.icon-link,
.content h3:hover a .icon.icon-link {
  opacity: 1;
}
